{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
  <h2>Éditer le bien</h2>

  {{ include('admin/product/_form.html.twig', {form: form, button: 'Éditer'}) }}

</div>

{% endblock %}