{% extends 'base.html.twig' %}

{% block title 'Admin' %}
{% block body %}


<div class="container mt-4">
  <h2>Gérer les biens</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
         <td>{{ product.title }}</td>
         <td>
          <a href="{{ path('admin.product.edit', {id: product.id}) }}" class="btn btn-secondary">Éditer</a>
         </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

   <div class="text-right">
       <a href="{{ path('admin.product.new') }}" class="btn btn-primary">Créer un nouveau produit</a>
   </div>

</div>

{% endblock %}